USE [master]
GO
/****** Object:  Database [SROMS]    Script Date: 3/4/2024 12:39:04 PM ******/
CREATE DATABASE [SROMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SROMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SROMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SROMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SROMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SROMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SROMS]
GO
/****** Object:  Table [dbo].[AdminProfile]    Script Date: 3/4/2024 12:39:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminProfile](
	[AdminProfileID] [int] IDENTITY(1,1) NOT NULL,
	[StaffNumber] [nvarchar](10) NULL,
	[AcademicLevel] [nvarchar](50) NULL,
	[Degree] [nvarchar](50) NULL,
	[Experience] [nvarchar](200) NULL,
	[UserProfileID] [int] NULL,
 CONSTRAINT [PK__AdminPro__22ABFD60F431F9A7] PRIMARY KEY CLUSTERED 
(
	[AdminProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Club]    Script Date: 3/4/2024 12:39:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Club](
	[ClubID] [int] IDENTITY(1,1) NOT NULL,
	[ClubName] [nvarchar](200) NULL,
	[EstablishDate] [date] NULL,
	[Description] [nvarchar](1000) NULL,
	[IsApprove] [bit] NULL,
	[IsActive] [bit] NULL,
	[ManagerProfileID] [int] NULL,
 CONSTRAINT [PK__Club__D35058C74FB5639D] PRIMARY KEY CLUSTERED 
(
	[ClubID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClubMember]    Script Date: 3/4/2024 12:39:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClubMember](
	[StudentProfileID] [int] NULL,
	[ClubID] [int] NULL,
	[SemesterID] [int] NULL,
	[ClubRole] [nvarchar](100) NULL,
	[ClubPoint] [int] NULL,
	[Report] [nvarchar](200) NULL,
	[Status] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 3/4/2024 12:39:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [nvarchar](200) NULL,
	[PreparationTime] [datetime] NULL,
	[HoldTime] [datetime] NULL,
	[Location] [nvarchar](500) NULL,
	[Cost] [int] NULL,
	[ExpectedNumber] [int] NULL,
	[Organization] [nvarchar](100) NULL,
	[Description] [nvarchar](1000) NULL,
	[Feedback] [nvarchar](200) NULL,
	[IsApprove] [bit] NULL,
	[CreateBy] [nvarchar](100) NULL,
	[EventCategoryID] [int] NULL,
	[AdminProfileID] [int] NULL,
	[ManagerProfileID] [int] NULL,
	[StudentProfileID] [int] NULL,
 CONSTRAINT [PK__Event__7944C8700E08091A] PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventCategory]    Script Date: 3/4/2024 12:39:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventCategory](
	[EventCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[EventCategoryName] [nvarchar](200) NULL,
	[Point] [int] NULL,
	[Description] [nvarchar](1000) NULL,
 CONSTRAINT [PK__EventCat__7174DE9E3E02024C] PRIMARY KEY CLUSTERED 
(
	[EventCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManagerProfile]    Script Date: 3/4/2024 12:39:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagerProfile](
	[ManagerProfileID] [int] IDENTITY(1,1) NOT NULL,
	[StaffNumber] [nvarchar](10) NULL,
	[AcademicLevel] [nvarchar](50) NULL,
	[Degree] [nvarchar](50) NULL,
	[Experience] [nvarchar](200) NULL,
	[UserProfileID] [int] NULL,
 CONSTRAINT [PK__ManagerP__693DF054061E1E6B] PRIMARY KEY CLUSTERED 
(
	[ManagerProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 3/4/2024 12:39:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Content] [nvarchar](2000) NULL,
	[CreateAt] [date] NULL,
	[AdminProfileID] [int] NULL,
 CONSTRAINT [PK__News__954EBDD369926F22] PRIMARY KEY CLUSTERED 
(
	[NewsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParticipationEventDetail]    Script Date: 3/4/2024 12:39:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParticipationEventDetail](
	[EventID] [int] NULL,
	[StudentProfileID] [int] NULL,
	[RoleEvent] [nvarchar](100) NULL,
	[IsPresent] [bit] NULL,
	[Report] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/4/2024 12:39:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](200) NULL,
 CONSTRAINT [PK__Role__8AFACE3A6E4E410E] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Semester]    Script Date: 3/4/2024 12:39:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semester](
	[SemesterID] [int] IDENTITY(1,1) NOT NULL,
	[SemesterName] [nvarchar](200) NULL,
	[SemesterCode] [nvarchar](50) NULL,
	[Description] [nvarchar](1000) NULL,
 CONSTRAINT [PK__Semester__043301BD59CE121F] PRIMARY KEY CLUSTERED 
(
	[SemesterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentProfile]    Script Date: 3/4/2024 12:39:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentProfile](
	[StudentProfileID] [int] IDENTITY(1,1) NOT NULL,
	[RollNumber] [nvarchar](10) NULL,
	[MemberCode] [nvarchar](20) NULL,
	[Major] [nvarchar](50) NULL,
	[Mode] [nvarchar](30) NULL,
	[UserProfileID] [int] NULL,
 CONSTRAINT [PK__StudentP__222BD0D0E3EACC38] PRIMARY KEY CLUSTERED 
(
	[StudentProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogin]    Script Date: 3/4/2024 12:39:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogin](
	[UserLoginID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](200) NULL,
	[CreateAt] [datetime] NULL,
	[IsActive] [bit] NULL,
	[UserProfileID] [int] NULL,
 CONSTRAINT [PK__UserLogi__107D56AC1EA3764E] PRIMARY KEY CLUSTERED 
(
	[UserLoginID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProfile]    Script Date: 3/4/2024 12:39:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfile](
	[UserProfileID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[Avatar] [nvarchar](100) NULL,
	[Gender] [nvarchar](10) NULL,
	[DateOfBirth] [date] NULL,
	[Address] [nvarchar](500) NULL,
	[EnrollmentDate] [date] NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [char](10) NULL,
 CONSTRAINT [PK__UserProf__9E267F42D8856726] PRIMARY KEY CLUSTERED 
(
	[UserProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 3/4/2024 12:39:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[RoleID] [int] NULL,
	[UserLoginID] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AdminProfile] ON 

INSERT [dbo].[AdminProfile] ([AdminProfileID], [StaffNumber], [AcademicLevel], [Degree], [Experience], [UserProfileID]) VALUES (1, N's12345', N'12/12', N'Master', N'7year', 1)
SET IDENTITY_INSERT [dbo].[AdminProfile] OFF
GO
SET IDENTITY_INSERT [dbo].[Club] ON 

INSERT [dbo].[Club] ([ClubID], [ClubName], [EstablishDate], [Description], [IsApprove], [IsActive], [ManagerProfileID]) VALUES (2, N'BadmintonClub', CAST(N'2022-05-05' AS Date), N'vfejfwbjbnkjf', 1, 1, 2)
INSERT [dbo].[Club] ([ClubID], [ClubName], [EstablishDate], [Description], [IsApprove], [IsActive], [ManagerProfileID]) VALUES (3, N'FChess', CAST(N'2022-06-04' AS Date), N'ewfweffwrgr', 1, 1, 2)
INSERT [dbo].[Club] ([ClubID], [ClubName], [EstablishDate], [Description], [IsApprove], [IsActive], [ManagerProfileID]) VALUES (4, N'FVC', CAST(N'2022-07-04' AS Date), N'dfdfs', 1, 1, 2)
SET IDENTITY_INSERT [dbo].[Club] OFF
GO
INSERT [dbo].[ClubMember] ([StudentProfileID], [ClubID], [SemesterID], [ClubRole], [ClubPoint], [Report], [Status]) VALUES (1, 2, 1, N'Leader Club', 10, N'Qualified', 1)
INSERT [dbo].[ClubMember] ([StudentProfileID], [ClubID], [SemesterID], [ClubRole], [ClubPoint], [Report], [Status]) VALUES (2, 2, 1, N'Board Of Directing', 10, N'Qualified', 1)
INSERT [dbo].[ClubMember] ([StudentProfileID], [ClubID], [SemesterID], [ClubRole], [ClubPoint], [Report], [Status]) VALUES (3, 2, 1, N'Board Of Directing', 10, N'Qualified', 1)
GO
SET IDENTITY_INSERT [dbo].[Event] ON 

INSERT [dbo].[Event] ([EventID], [EventName], [PreparationTime], [HoldTime], [Location], [Cost], [ExpectedNumber], [Organization], [Description], [Feedback], [IsApprove], [CreateBy], [EventCategoryID], [AdminProfileID], [ManagerProfileID], [StudentProfileID]) VALUES (2, N'FPT champion seri', CAST(N'2024-02-02T00:00:00.000' AS DateTime), CAST(N'2024-03-10T00:00:00.000' AS DateTime), N'Can Tho Campus', 50000000, 200, N'SRO', N'cfvgbhnjmkcfvgbh', N'tegfsdfeds', 1, N'Event Manager', 1, 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[Event] OFF
GO
SET IDENTITY_INSERT [dbo].[EventCategory] ON 

INSERT [dbo].[EventCategory] ([EventCategoryID], [EventCategoryName], [Point], [Description]) VALUES (1, N'Talkshow', 15, N'ewwfwerfwewrgrg')
INSERT [dbo].[EventCategory] ([EventCategoryID], [EventCategoryName], [Point], [Description]) VALUES (2, N'Sport', 10, N'ewwfwerfwewrfggree')
INSERT [dbo].[EventCategory] ([EventCategoryID], [EventCategoryName], [Point], [Description]) VALUES (3, N'Miss', 20, N'ewwfwerfwewbfhsbf')
SET IDENTITY_INSERT [dbo].[EventCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[ManagerProfile] ON 

INSERT [dbo].[ManagerProfile] ([ManagerProfileID], [StaffNumber], [AcademicLevel], [Degree], [Experience], [UserProfileID]) VALUES (1, N'a12345', N'12/12', N'Master', N'5year', 2)
INSERT [dbo].[ManagerProfile] ([ManagerProfileID], [StaffNumber], [AcademicLevel], [Degree], [Experience], [UserProfileID]) VALUES (2, N'b12345', N'12/12', N'Master', N'6year', 3)
SET IDENTITY_INSERT [dbo].[ManagerProfile] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([NewsID], [Title], [Content], [CreateAt], [AdminProfileID]) VALUES (1, N'Tuition payment deadline', N'dxcfvbhnjmkdcfvgbhnj', CAST(N'2023-03-09' AS Date), 1)
INSERT [dbo].[News] ([NewsID], [Title], [Content], [CreateAt], [AdminProfileID]) VALUES (2, N'fghbnjemrnfefeu', N'dxcfvbhnjmkdcfvgbhnj', CAST(N'2023-04-10' AS Date), 1)
SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (2, N'Event Manager')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (3, N'Club Manager')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Semester] ON 

INSERT [dbo].[Semester] ([SemesterID], [SemesterName], [SemesterCode], [Description]) VALUES (1, N'Fall 2024', N'FA24', N'defefrvfvfv')
INSERT [dbo].[Semester] ([SemesterID], [SemesterName], [SemesterCode], [Description]) VALUES (2, N'Spring 2024', N'SP24', N'brbhfbhfb')
INSERT [dbo].[Semester] ([SemesterID], [SemesterName], [SemesterCode], [Description]) VALUES (3, N'Summer 2024', N'SU24', N'dtttttefrvfvfv')
SET IDENTITY_INSERT [dbo].[Semester] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentProfile] ON 

INSERT [dbo].[StudentProfile] ([StudentProfileID], [RollNumber], [MemberCode], [Major], [Mode], [UserProfileID]) VALUES (1, N'CE171903', N'NguyenNQCE171903', N'SoftwareEngineering', N'Formal', 4)
INSERT [dbo].[StudentProfile] ([StudentProfileID], [RollNumber], [MemberCode], [Major], [Mode], [UserProfileID]) VALUES (2, N'CE171860', N'NhuDTCE171860', N'SoftwareEngineering', N'Formal', 5)
INSERT [dbo].[StudentProfile] ([StudentProfileID], [RollNumber], [MemberCode], [Major], [Mode], [UserProfileID]) VALUES (3, N'CE171111', N'AnhNVCE171111', N'SoftwareEngineering', N'Formal', 6)
SET IDENTITY_INSERT [dbo].[StudentProfile] OFF
GO
SET IDENTITY_INSERT [dbo].[UserLogin] ON 

INSERT [dbo].[UserLogin] ([UserLoginID], [Username], [CreateAt], [IsActive], [UserProfileID]) VALUES (1, N'TienBTCE171840@fpt.edu.vn', CAST(N'2021-09-02T01:01:01.000' AS DateTime), 0, 1)
INSERT [dbo].[UserLogin] ([UserLoginID], [Username], [CreateAt], [IsActive], [UserProfileID]) VALUES (2, N'CuLQCE171592@fpt.edu.vn', CAST(N'2021-09-02T02:02:02.000' AS DateTime), 1, 2)
INSERT [dbo].[UserLogin] ([UserLoginID], [Username], [CreateAt], [IsActive], [UserProfileID]) VALUES (3, N'HuyHKCE171778@fpt.edu.vn', CAST(N'2021-09-02T03:03:03.000' AS DateTime), 0, 3)
SET IDENTITY_INSERT [dbo].[UserLogin] OFF
GO
SET IDENTITY_INSERT [dbo].[UserProfile] ON 

INSERT [dbo].[UserProfile] ([UserProfileID], [FirstName], [LastName], [Avatar], [Gender], [DateOfBirth], [Address], [EnrollmentDate], [Email], [Phone]) VALUES (1, N'Tien', N'Bach Trung', N'1.png', N'Male', CAST(N'2003-10-19' AS Date), N'Hau Giang', CAST(N'2021-09-02' AS Date), N'TienBTCE171840@fpt.edu.vn', N'0907577507')
INSERT [dbo].[UserProfile] ([UserProfileID], [FirstName], [LastName], [Avatar], [Gender], [DateOfBirth], [Address], [EnrollmentDate], [Email], [Phone]) VALUES (2, N'Cu', N'Le Quoc', N'2.png', N'Male', CAST(N'2003-02-27' AS Date), N'Can Tho', CAST(N'2021-09-02' AS Date), N'CuLQCE171592@fpt.edu.vn', N'0123235566')
INSERT [dbo].[UserProfile] ([UserProfileID], [FirstName], [LastName], [Avatar], [Gender], [DateOfBirth], [Address], [EnrollmentDate], [Email], [Phone]) VALUES (3, N'Huy', N'Hua Khanh', N'3.png', N'Male', CAST(N'2003-03-03' AS Date), N'Soc Trang', CAST(N'2021-09-02' AS Date), N'HuyHKCE172345@fpt.edu.vn', N'0234567893')
SET IDENTITY_INSERT [dbo].[UserProfile] OFF
GO
INSERT [dbo].[UserRole] ([RoleID], [UserLoginID]) VALUES (1, 1)
INSERT [dbo].[UserRole] ([RoleID], [UserLoginID]) VALUES (2, 2)
INSERT [dbo].[UserRole] ([RoleID], [UserLoginID]) VALUES (3, 3)
GO
ALTER TABLE [dbo].[AdminProfile]  WITH CHECK ADD  CONSTRAINT [FK__AdminProf__UserP__4D94879B] FOREIGN KEY([UserProfileID])
REFERENCES [dbo].[UserProfile] ([UserProfileID])
GO
ALTER TABLE [dbo].[AdminProfile] CHECK CONSTRAINT [FK__AdminProf__UserP__4D94879B]
GO
ALTER TABLE [dbo].[Club]  WITH CHECK ADD  CONSTRAINT [FK__Club__ManagerPro__4E88ABD4] FOREIGN KEY([ManagerProfileID])
REFERENCES [dbo].[ManagerProfile] ([ManagerProfileID])
GO
ALTER TABLE [dbo].[Club] CHECK CONSTRAINT [FK__Club__ManagerPro__4E88ABD4]
GO
ALTER TABLE [dbo].[ClubMember]  WITH CHECK ADD  CONSTRAINT [FK__ClubMembe__ClubI__4F7CD00D] FOREIGN KEY([ClubID])
REFERENCES [dbo].[Club] ([ClubID])
GO
ALTER TABLE [dbo].[ClubMember] CHECK CONSTRAINT [FK__ClubMembe__ClubI__4F7CD00D]
GO
ALTER TABLE [dbo].[ClubMember]  WITH CHECK ADD  CONSTRAINT [FK__ClubMembe__Semes__5070F446] FOREIGN KEY([SemesterID])
REFERENCES [dbo].[Semester] ([SemesterID])
GO
ALTER TABLE [dbo].[ClubMember] CHECK CONSTRAINT [FK__ClubMembe__Semes__5070F446]
GO
ALTER TABLE [dbo].[ClubMember]  WITH CHECK ADD  CONSTRAINT [FK__ClubMembe__Stude__5165187F] FOREIGN KEY([StudentProfileID])
REFERENCES [dbo].[StudentProfile] ([StudentProfileID])
GO
ALTER TABLE [dbo].[ClubMember] CHECK CONSTRAINT [FK__ClubMembe__Stude__5165187F]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK__Event__AdminProf__52593CB8] FOREIGN KEY([AdminProfileID])
REFERENCES [dbo].[AdminProfile] ([AdminProfileID])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK__Event__AdminProf__52593CB8]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK__Event__EventCate__534D60F1] FOREIGN KEY([EventCategoryID])
REFERENCES [dbo].[EventCategory] ([EventCategoryID])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK__Event__EventCate__534D60F1]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK__Event__ManagerPr__5441852A] FOREIGN KEY([ManagerProfileID])
REFERENCES [dbo].[ManagerProfile] ([ManagerProfileID])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK__Event__ManagerPr__5441852A]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK__Event__StudentPr__5535A963] FOREIGN KEY([StudentProfileID])
REFERENCES [dbo].[StudentProfile] ([StudentProfileID])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK__Event__StudentPr__5535A963]
GO
ALTER TABLE [dbo].[ManagerProfile]  WITH CHECK ADD  CONSTRAINT [FK__ManagerPr__UserP__5629CD9C] FOREIGN KEY([UserProfileID])
REFERENCES [dbo].[UserProfile] ([UserProfileID])
GO
ALTER TABLE [dbo].[ManagerProfile] CHECK CONSTRAINT [FK__ManagerPr__UserP__5629CD9C]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK__News__AdminProfi__571DF1D5] FOREIGN KEY([AdminProfileID])
REFERENCES [dbo].[AdminProfile] ([AdminProfileID])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK__News__AdminProfi__571DF1D5]
GO
ALTER TABLE [dbo].[ParticipationEventDetail]  WITH CHECK ADD  CONSTRAINT [FK__Participa__Event__5812160E] FOREIGN KEY([EventID])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[ParticipationEventDetail] CHECK CONSTRAINT [FK__Participa__Event__5812160E]
GO
ALTER TABLE [dbo].[ParticipationEventDetail]  WITH CHECK ADD  CONSTRAINT [FK__Participa__Stude__59063A47] FOREIGN KEY([StudentProfileID])
REFERENCES [dbo].[StudentProfile] ([StudentProfileID])
GO
ALTER TABLE [dbo].[ParticipationEventDetail] CHECK CONSTRAINT [FK__Participa__Stude__59063A47]
GO
ALTER TABLE [dbo].[StudentProfile]  WITH CHECK ADD  CONSTRAINT [FK__StudentPr__UserP__59FA5E80] FOREIGN KEY([UserProfileID])
REFERENCES [dbo].[UserProfile] ([UserProfileID])
GO
ALTER TABLE [dbo].[StudentProfile] CHECK CONSTRAINT [FK__StudentPr__UserP__59FA5E80]
GO
ALTER TABLE [dbo].[UserLogin]  WITH CHECK ADD  CONSTRAINT [FK__UserLogin__UserP__5BE2A6F2] FOREIGN KEY([UserProfileID])
REFERENCES [dbo].[UserProfile] ([UserProfileID])
GO
ALTER TABLE [dbo].[UserLogin] CHECK CONSTRAINT [FK__UserLogin__UserP__5BE2A6F2]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK__UserRole__RoleID__5CD6CB2B] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK__UserRole__RoleID__5CD6CB2B]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK__UserRole__UserLo__5DCAEF64] FOREIGN KEY([UserLoginID])
REFERENCES [dbo].[UserLogin] ([UserLoginID])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK__UserRole__UserLo__5DCAEF64]
GO
USE [master]
GO
